
        <div align="center">
            <div style="width:300px; border: solid 1px #333333; " align="left">
                <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>retrieve</b></div>

                <div style="margin:30px">

                    <form >
                        <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                        <input type="button" value="OK" ng-click="myFunc()" />
                    </form>


                </div>



            </div>

        </div><br><br><br><br><br>
          <div align="center">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>update</b></div>

            <div style="margin:30px">

    <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name1" class="box" /><br /><br />
                    <label>Type  &nbsp;&nbsp;&nbsp;:</label><input ng-model="type" class="box" /><br/><br />
                    <label>Cost  &nbsp;:</label><input ng-model="cost" class="box" /><br /><br />
                    <label>Supplier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</label><input ng-model="supplier" class="box" /><br/><br />
                    <label>Availability  :</label><input ng-model="avail" class="box" /><br/><br />
                     <input type="button" value="update" ng-click="myFunc1()" />
                

    </form>

            </div>

        </div>

    </div>